<?xml version="1.0" encoding="UTF-8"?>
<web-app>

   <servlet>
       <servlet-name>shell</servlet-name>
      <servlet-class>com.google.gwt.dev.shell.GWTShellServlet</servlet-class>
   </servlet>
      <servlet-mapping>
       <servlet-name>shell</servlet-name>
       <url-pattern>/shell</url-pattern>
   </servlet-mapping>
    <servlet>
       <servlet-name>wysiwym</servlet-name>
       <servlet-class>liber.edit.server.LiberServletImpl</servlet-class>
       <!-- <servlet-class>liber.query.server.LiberServletImpl</servlet-class> --> 
       <!-- <servlet-class>liber.browse.server.LiberServletImpl</servlet-class> --> 
       <display-name>wysiwym</display-name>
   </servlet>
      <servlet-mapping>
       <servlet-name>wysiwym</servlet-name>
       <url-pattern>/wysiwym</url-pattern>
   </servlet-mapping>
   <servlet>
       <servlet-name>postings</servlet-name>
       <servlet-class>liber.edit.server.Postings</servlet-class>
       <!-- <servlet-class>liber.query.server.Postings</servlet-class> --> 
       <!-- <servlet-class>liber.browse.server.Postings</servlet-class> --> 
       <display-name>postings</display-name>
   </servlet>
      <servlet-mapping>
       <servlet-name>postings</servlet-name>
       <url-pattern>/postings</url-pattern>
   </servlet-mapping>
</web-app>  